<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <!-- <small>{{site.description}}</small> -->
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                {% for nav in site.navs %}
                <li>
                    <a href="{{ site.url }}{{ nav.href }}"
                        class="{% if nav.mobile-hidden %}mobile-hidden {% endif %}{% if page.menu == nav.label %}selected {% endif %}site-header-nav-item"
                        target="{{ nav.target | default: _self }}" title="{{ nav.label }}">{{ nav.label }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>